@import 'variables';
@import 'styling/spacing';
@import 'styling/column-right-offset';
@import 'styling/buttons';
@import 'styling/calendar';
@import 'styling/header';
@import 'styling/icons';
@import 'styling/loader';
@import 'styling/login';

@import 'styling/tables';
@import 'styling/texts';

html,body {
	font-family: $common-font;
	color: white;

	height: 100%;
}

#app {
	& > div {
		height: 100%;
	}

	height: 100%;
}





