
.icon-box {
	padding-top: 72%;
	padding-bottom: 18%;
	color: $font-color-white;
	background-color: $blue;

	line-height: 21px;

	font-size: 20px;
	
	&:first {
		padding-left: 0;
	}

	&:last {
		padding-right: 0;
	}

	white-space: nowrap;

	&:hover, &.active {
		background-color: $turqoise;
	}

	span {
		padding-bottom: 30%;
	}
}

@media (max-width: 992px) {
	.icon-box {
		background-size: 20%;
		font-size: 16px;
	}
}



.menu-icon-fish {
	background-image: url("/media/icons/fish.png");
	background-repeat: no-repeat;
	background-position: center; 
}

.menu-icon-new-fish {
	background-image: url("/media/icons/new_fish.png");
	background-repeat: no-repeat;
	background-position: center; 
}

.menu-icon-place {
	background-image: url("/media/icons/places.png");
	background-repeat: no-repeat;
	background-position: center; 
}

.menu-icon-settings {
	background-image: url("/media/icons/settings.png");
	background-repeat: no-repeat;
	background-position: center; 
}

.icon-button {
	background-repeat: no-repeat;
	background-position: center; 
}

.icon {
	position: absolute;
	right: 4%;
	top: 25%;
	width: 24px;
	height: 24px;
}

.icon-up {
	background-image: url("/media/icons/sort-up.png");
	background-repeat: no-repeat;
	background-position: center; 

	background-size: 100%;

	width: 14px;
	height: 14px;
}

.icon-down {
	background-image: url("/media/icons/sort-down.png");
	background-repeat: no-repeat;
	background-position: center; 

	background-size: 100%;
	width: 14px;
	height: 14px;
}

.glyphicon-plus {
	padding-right: 6px;
	padding-top: 6px;
}