.login-page {
	position: relative;

	background-color: $light-blue;
	/*background-image: url("/media/images/bg.png");
*/
	height: 100%;

	.login-header {
		padding-top: 4%;
		padding-bottom: 12%;
		background-color: $blue;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  		clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	}

	.login-logo {
		height: 180px;
		width: 180px;
		margin: 0 auto;
	  	display: block;
	  	background-image: url("/media/icons/logo.png");
	  	background-size: 60%;
	  	background-repeat: no-repeat;
	  	background-position: center;
	  	z-index: 100;
	}

	.login-container {
		height: 75%;
		padding-top: 50px;
		z-index: -100;
	}

	.google-login-button {
		text-transform: uppercase;
		background-color: $turqoise;  
		border-radius: 30px;
	}
}