.data-table {
	th {
		background-color: $blue;
		color: white;
		&:hover, &.active-sort {
			background-color: $turqoise;
			cursor: pointer;
		}

		&.active-sort {
			position: relative;
		}
	}

	td {
		color: black;
	}

	min-width: 768px;

	margin-top: 30px;
	overflow-x: scroll;
}

.pagination {
	* {
		color: $black !important;
	}

	.active {
		a {
			background-color: $turqoise !important;
			color: $white !important;

		}
	}
}